@mixin media-tablet {
  @media (min-width: $tablet-width) {
    @content;
  }
}

@mixin media-laptop {
  @media (min-width: $laptop-width) {
    @content;
  }
}

@mixin media-mobile {
  @media (min-width: $mobile-width) {
    @content;
  }
}


